<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ftcoding.imager">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <application
        android:name=".ImagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/imager_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/imager_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Imager">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/mobile_navigation"/>
        </activity>
        <activity
            android:name=".ui.current_user_activity.UserActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="Instantiatable">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="androidunsplash"
                    android:scheme="example" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.user_profile_activity.UserProfileActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity"
            tools:ignore="Instantiatable" />
    </application>

</manifest>
